<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ article }}</title>
</head>
<body>
<div>
    <h1>{{ article }}</h1>
    author: {{ article.user }}
    <p>{{ likes }} likes</p>
    <p>{{ count_of_comments }} comments</p>

    <time>{{ article.created_date.day }}.{{ article.created_date.month }}.{{ article.created_date.year }}</time><br>

    <div>
        <p>{{ article.body }}</p>
    </div>

    last update: <time>{{ article.updated_date.day }}.{{ article.updated_date.month }}.{{ article.updated_date.year }} at {{ article.updated_date.time }}</time><br>

    <form method="post">
        {% csrf_token %}
        <input type="submit" value="Like" id="like-id">
    </form>
</div>


<div>
    <h3>Share your opinion</h3>
    <form method="post">
        {% csrf_token %}
        <p id="comment-text">{{ comment_form.as_p }}</p>
        <input id="comment-id" type="submit">
    </form>
</div>

<div>
    {% for comment in comments %}
    {{ comment.user }} - <time>{{ comment.created_date.day }}.{{ comment.created_date.month }}.{{ comment.created_date.year }} at {{ comment.created_date.time }}</time><br>
    <p id="comment">{{ comment }}</p>
    {% endfor %}
</div>

</body>
</html>