<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ article }}</title>
</head>
<body>
<div>
    <h1>{{ article }}</h1>
    author: {{ article.user }}
    <time>{{ article.created_date.day }}.{{ article.created_date.month }}.{{ article.created_date.year }}</time><br>

    <div>
        <p>{{ article.body }}</p>
    </div>

    <time>{{ article.updated_date.day }}.{{ article.updated_date.month }}.{{ article.updated_date.year }} at {{ article.updated_date.time }}</time><br>
</div>

</body>
</html>