{% extends '_base.html' %}

{% block title %}Forum{% endblock title %}


{% block content %}
<h1>Welcome to Lorum's Forum</h1>
<span>
    <font face="Arial" size="2px">
        Lorum's forum is a forum for programmers, system administrators, database administrators, a computer forum, a forum for
        electronics and household appliances, a discussion of software. Free help in solving problems in programming,
        mathematics, physics, and other sciences, solving problems with a computer, operating systems.
    </font>
</span>
<br>
<h1 style="text-align: center">
    Categories
</h1>

<div>
    {% for category, _ in 1_categories %}
    <div>
        <h2><a href="{% url category %}" id="articles_1">{{ category }}</a></h2>
    </div>
    {% endfor %}

    {% for category, category_url in 2_categories %}
    <div>
        <h2><a href="{% url category_url %}" id="articles_2">{{ category }}</a></h2>
    </div>
    {% endfor %}
</div>
{% endblock content %}